<section>
    <center>
        <div class="container">
            <center><h1>Alta paciente</h1></center>
            <form class="form-signin" role="form" action="reg.php" method="post">
                <div id="registro">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" size="56">

                    <label for="edad">Edad:</label>
                    <input  type="text" id="edad" name="numero" maxlength="2" size="2">

                    <label for="sexo">Sexo</label>
                    <select id="sexo" name="sexo">
                        <option value="Masculino" >Maculino</option>
                        <option value="Femenino" >Femenino</option>
                    </select>


                    <label for="e_civil">E.Civil</label>
                    <select id="e_civil" name="e_civil">
                        <option value="soltero"  >soltero</option>
                        <option value="casado" >casado</option>
                        <option value="viudo"  >viudo</option>
                        <option value="divorciado">divorciado</option>
                    </select>
                </div><br>
                <div>
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" name="adress" size="41">&nbsp;

                    <label for="email">Email:</label>
                    <input type="text" id="email" name="e_mail" size="15">

                    <label for="ocupacion">Ocupación:</label>
                    <input type="text" id="ocupacion" name="ocupacion">
                </div><br>

                <div>
                    <label for="motivoconsulta">Motivo de consulta:</label>
                    <input type="text" id="motivoconsulta" name="mot_consult">
                </div><br>
                <div>
                    <label for="nombreinformacion">Nombre y parentesco de la persona que proporciono la información:</label>
                    <input type="text" id="nombreinformacion" name="name_parentes" size="51">
                </div>
            </form><br>

            <div align="center">
                <button class="alta_guardar" href="consulta.html" id="guardar"> Guardar y <br> continuar </button>
            </div>
        </div>

    </center>
</section>

