<br><br>
<section id="buscarpaciente">
    <legend><center><h5>Buscar paciente</h5></center></legend>

    <form role="form">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control"  placeholder="Nombre(s) seguido de apellido(s)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </form>
</section>
