<br><br>
<section id="historialpagos">
    <legend><center><h5>Historial C&iacute;nico</h5></center></legend>

    <form role="form"><br>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control"  placeholder="Nombre(s) seguido de apellido(s)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </form>

<br><br>

    <div class="row m-t-lg" style="align-content: center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="tabs-container" ng-app="TabsApp">

                <div class="tabs-left" id="tabla" ng-controller="TabsCtrl">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab1"> Datos Generales</a></li>
                        <li class=""><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab2">Estado m&eacute;dico</a></li>
                        <li class=""><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab3">Antecedentes familiares hereditarios</a></li>
                        <li class=""><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab4">Antecedentes personales patol&oacute;gicos</a></li>
                        <li class=""><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab5">Registro cl&iacute;nico odontol&oacute;gico</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <div class="panel-body">
                                <br>
                                <strong>Nombre del Paciente:</strong>  Oscar Iv&aacute;n Diosdado Garc&iacute;a
                                <br><br>
                                <p><strong>Edad:</strong> 22 a&#241;os</p>
                                <p><strong>Sexo:</strong> Masculino</p>
                                <p><strong>Edo. Civil:</strong> Soltero</p>
                                <p><strong>Direcci&oacute;n:</strong> Boulevard Coacalco num.392, Villa de las Flores, Coacalco de Berriozabal, Estado de M&eacute;xico</p>
                                <p><strong>Correo Electr&oacute;nico:</strong> oscarin_auch@hotmail.com</p>
                                <p><strong>Tel&eacute;fono:</strong> 55-1196-2802</p>
                                <p><strong>Ocupaci&oacute;n:</strong> Estudiante</p>
                                <p><strong>Motivo de Consulta:</strong> Dolor en molares</p>
                                <p><strong>Fecha de Nacimiento:</strong> 12/12/1994</p>
                                <br>
                                <p><strong>&#191;Qui&eacute;n proporciono la informaci&oacute;n:</strong> Viridiana Garc&iacute;a, Madre</p>
                                <br><br>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane">
                        <div class="panel-body">
                            <br><br>
                            <p><strong>&#191;Se encuentra bajo al&uacute;n tratamiento m&eacute;dico actualmente?</strong> NO</p>
                            <p><strong>&#191;Padece actualmente alguna enfermedad?</strong> SI <strong>&#191;Cu&aacute;l?</strong> ASMA</p>
                            <p><strong>&#191;Ha estado hospitalizado alguna vez?</strong> NO</p>
                            <p><strong>&#191;Ha tenido alguna intervenci&oacute;n quir&uacute;rgica en el &uacute;ltimo a&#241;o?</strong> NO</p>
                            <p><strong>&#191;Toma alg&uacute;n medicamento o droga como antibi&oacute;tico sulfas ticoagulante, insulina, tranquilizante o analg&eacute;sicos?</strong> NO</p>
                            <p><strong>&#191;Ha recibido trasfusiones sangu&iacute;neas?</strong> NO</p>
                            <p><strong>&#191;Presenta alg&uacute;n tipo de alergia?</strong> SI <strong>&#191;A qu&eacute;?</strong> Polvo, polen, pelaje y casoa animal </p>
                            <p><strong>&#191;Se ha desmayado alguna vez?</strong> NO</p>
                            <p><strong>&#191;Le ha faltado la respiraci&oacute;n cuando se esfuerza?</strong> SI</p>
                        </div>
                    </div>
                        <div id="tab3" class="tab-pane">
                            <div class="panel-body">
                                <br><br>
                                <p><strong>Madre: </strong> Ninguno</p><br>
                                <p><strong>Padre: </strong> Ninguno</p><br>
                                <p><strong>Hermanos: </strong> Ninguno</p><br>
                                <p><strong>Hijos: </strong> Ninguno</p>
                            </div>
                        </div>
                        <div id="tab4" class="tab-pane">
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <br><br>
                                        <p><strong>ALT sanguineas:</strong> NO</p>
                                        <p><strong>Depreciones:</strong> NO</p>
                                        <p><strong>Epilepcia:</strong> NO</p>
                                        <p><strong>Hipotensi&oacute;n:</strong> NO</p>
                                        <p><strong>Fiebre reum&aacute;tica</strong> NO</p>
                                        <p><strong>Sarampion:</strong> NO</p>
                                        <p><strong>Rubiola:</strong> NO</p>
                                        <p><strong>Escarlatina:</strong> NO</p><br>
                                    </div>
                                    <br><br>
                                    <div class="col-sm-6">
                                        <p><strong>Enfermedad endocrina:</strong> NO</p>
                                        <p><strong>Enfermedad cardiobascular:</strong> NO</p>
                                        <p><strong>Anemia:</strong> NO</p>
                                        <p><strong>Cancer:</strong> NO</p>
                                        <p><strong>Diabetes:</strong> NO</p>
                                        <p><strong>Hepatitis:</strong> NO</p>
                                        <p><strong>Tuberculosis:</strong> NO</p><br><br><br>
                                    </div>
                                    <br><br><p><strong>&#191;Es alergico al apecilina, sulfas u otras sustancias?</strong> NO</p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div id="tab5" class="tab-pane">
                            <div class="panel-body">
                                <p><strong>Enfermedad periodontal: </strong> SI</p><br>
                                <p><strong>&#191;Presenta alguna infecci&oacute;n en cavidad oral? </strong> NO</p><br>
                                <p><strong>H&aacute;bitos: </strong> SI <strong>&#191;Cu&aacute;les? </strong> Fumador</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

<br>
    <div class="container">
        <legend><h2>Estado de los tejidos</h2></legend>
    </div>
    <!--Tabla del diagnostico de odontograma -->
    <div class="row m-t-lg" style="align-content: center">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab-1"> Labios</a></li>
                    <li class=""><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab-2">Lengua</a></li>
                    <li class=""><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab-3">Boca</a></li>
                    <li class=""><a data-toggle="tab" href="ConsultarHistorialClinico.html/#tab-4">Hallazgos Radiogr&aacute;ficos</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <p><strong>Labios:</strong> Saludable</p>
                            <p><strong>Comisuras labiales:</strong> Saludable</p>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <p><strong>Lengua:</strong> Saludable</p>
                            <p><strong>Gl&aacute;ndulas salivales:</strong> Inflamadas</p>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <p><strong>Paladar Duro:</strong> Saludable</p>
                            <p><strong>Paladar Blando:</strong> Irritado</p>
                            <p><strong>Piso de Boca:</strong> Irritado</p>
                            <p><strong>Carrillos:</strong> Irritado</p>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <ul>
                            <li class="fa fa-pencil-square-o" style="font-size: 17px"> Pulpotom&iacute;as en molares primarios.</li><br>
                            <li class="fa fa-pencil-square-o" style="font-size: 17px"> En el Grupo Control, un molar present&oacute; f&iacute;stula en la
                                evaluaci&oacute;n realizada.</li><br>
                            <li class="fa fa-pencil-square-o" style="font-size: 17px"> En el Grupo Experimental,presencia de movilidad, pero sin f&iacute;stula ni
                                sintomatolog&iacute;a dolorosa.</li>
                             </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Diagn&oacute;stico seg&uacute;n el odontograma</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                        <tr>
                            <th>Pieza</th>
                            <th>Diagn&oacute;stico</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeA">
                            <td>18</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>17</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>16</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>15</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>14</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>13</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>12</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>11</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>21</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>22</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>23</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>24</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>25</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>26</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>27</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeA">
                            <td>28</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>55</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>54</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>53</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>52</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>51</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>61</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>62</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>63</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>64</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeX">
                            <td>65</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>85</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>84</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>83</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>82</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>81</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>71</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>72</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>73</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>74</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeC">
                            <td>75</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>48</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>47</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>46</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>45</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>44</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>43</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>42</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>41</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>31</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>32</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>33</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>34</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>35</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>36</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>37</td>
                            <td>Saludable</td>
                        </tr>
                        <tr class="gradeU">
                            <td>38</td>
                            <td>Saludable</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>

    <!-- Scripts tabla de diagnostico de odontograma -->
    <script>
        $(document).ready(function() {
            $('.dataTables-example').DataTable({
                "dom": 'lTfigt',
                "tableTools": {
                    "sSwfPath": "scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });

    </script>

    <!-- Tabla de tratamiento -->
    <div class="container">
        <legend><h2>Tratamientos</h2></legend>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="wrapper wrapper-content animated container">
                    <div class="ibox float-e-margins row">
                        <div class="ibox-title col-lg-8">
                            <h5>Tratamientos con Cl&iacute;nica Dental GS</h5>
                        </div>
                        <div class="ibox-content col-lg-8">
                            <table class="footable table table-stripped toggle-arrow-tiny tabs-container" data-page-size="5">
                                <thead>
                                <tr>
                                    <th>Tratamiento</th>
                                    <th>Fase del Tratamiento</th>
                                    <th>Fecha</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Consulta</td>
                                    <td>Presupuesto</td>
                                    <td>Jun 1, 2016</td>
                                </tr>
                                <tr>
                                    <td>Consulta</td>
                                    <td>Diagnostico</td>
                                    <td>Jun 1, 2016</td>
                                </tr>
                                <tr>
                                    <td>Consulta</td>
                                    <td>Toma de rx</td>
                                    <td>Jun 17, 2016</td>
                                </tr>
                                <tr>
                                    <td>Profilaxis</td>
                                    <td>Profilaxis</td>
                                    <td>Jun 22, 2016</td>
                                <tr>
                                    <td>Selladores</td>
                                    <td>Selladores</td>
                                    <td>Jun 30, 2016</td>
                                </tr>
                                <tr>
                                    <td>Aplicaci&oacute;n de fl&uacute;or</td>
                                    <td>Aplicaci&oacute;n de fl&uacute;or</td>
                                    <td>Jun 1, 2016</td>
                                </tr>
                                <!--<tr>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>$100.00</td>
                                    <td>$100.00</td>
                                    <td>$0.00</td>
                                    <td>Jun 1, 2016</td>
                                </tr>
                                <tr>
                                    <td>Project
                                        <small>This is example of project</small>
                                    </td>
                                    <td>Patrick Smith</td>
                                    <td>0800 051213</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><span class="pie">0.52/1.561</span></td>
                                    <td>20%</td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">6,9</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Betha project</td>
                                    <td>John Smith</td>
                                    <td>0800 1111</td>
                                    <td>Erat Volutpat</td>
                                    <td><span class="pie">3,1</span></td>
                                    <td>75%</td>
                                    <td>Jul 18, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>(016977) 0648</td>
                                    <td>Tellus Ltd</td>
                                    <td><span class="pie">4,9</span></td>
                                    <td>18%</td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">6,9</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Project
                                        <small>This is example of project</small>
                                    </td>
                                    <td>Patrick Smith</td>
                                    <td>0800 051213</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><span class="pie">0.52/1.561</span></td>
                                    <td>20%</td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>(016977) 0648</td>
                                    <td>Tellus Ltd</td>
                                    <td><span class="pie">4,9</span></td>
                                    <td>18%</td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>-->
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>


    <div align="center">
    <a href="#/index/crearhistorialclinico" id="editar_historial" class="btn btn-primary btn-lg"> Editar Historial</a>
    <a href="#/index/tratamiento" id="ir_tratamiento" class="btn btn-primary btn-lg"> Registrar Tratamiento </a>
    </div>



    <br><br><br><br>
</section>

<!-- Script Paginación -->
<script>
    $(document).ready(function() {
        $('.footable').footable();
    });
</script>