<section>
    <center>
        <div class="container">
            <div class="jumbotron" style="padding-bottom:0px;">
                <img src="img/login/logo.png"  style="width:304px;height:85px;">
                <br><br><br>
                <form class="form-signin" role="form" action="validar.php" name="login" method="post">
                    <input ng-model="user.name" type="text" class="form-control has-success" placeholder="Nombre de Usuario" required="" autofocus="">
                    <br>
                    <input ng-model="user.password" type="password" class="form-control has-success" placeholder="Contraseña" required="">
                    <br><br><br>
                    <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">INGRESAR</button>
                    <button type="reset" class="btn-link">Limpiar</button>
                    <br><br><br>
                </form>
            </div>
        </div>
    </center>
</section>


