<section>
    <center>
        <div class="container">
            <div class="jumbotron" style="padding-bottom:0px;">
                <img src="img/login/logo.png"  style="width:304px;height:85px;">
                <br><br><br>
                <form class="form-signin" role="form" action="" name="login" method="post">
                    <input ng-model="user.name" type="text" class="form-control has-success" placeholder="Nombre de Usuario" required="" autofocus="">
                    <br>
                    <input ng-model="user.password" type="password" class="form-control has-success" placeholder="Contraseña" required="">
                    <br><br><br>
                    <a ng-click="SignIn($event)" href="#/index/inicio" class="btn btn-lg btn-primary btn-block">INGRESAR</a>
                    <button type="reset" class="btn-link">Limpiar</button>
                    <br><br><br>
                </form>
            </div>
        </div>
    </center>
</section>

<!--
<br><br><br><br><br><br><br><br><br>

<section>
    <center>
        <div class="container">
            <div class="jumbotron" style="padding-bottom:0px;">
                <img src="img/login/logo.png"  style="width:304px;height:85px;">
                <br><br><br>
                <h3>Bienvenido Doctor Javier</h3>
                <form class="form-signin" role="form" action=".php" name="login" method="post">
                    <button type="button" class="btn btn-lg btn-primary btn-block">Nuevo Paciente</button>
                    <button type="button" class="btn btn-lg btn-primary btn-block">Buscar Paciente</button>
                    <button type="button" class="btn btn-lg btn-primary btn-block">Registrar Pagos</button>
                    <button type="button" class="btn btn-lg btn-primary btn-block">Consultar Historial</button>
                    <button type="button" class="btn btn-lg btn-primary btn-block">Agenda de Citas</button>
                    <br>
                    <button type="submit" class="btn-link">Cerrar Sesión</button>
                    <br><br><br>
                </form>
            </div>
        </div>
    </center>
</section>


<br><br><br><br><br><br><br><br><br>
-->




