<br><br>
<section id="HistorialMedico">
    <legend><center><h5>Historial C&iacute;nico</h5></center></legend>

    <br><br><br><br><br>
    <div id="seccionB"  class="container">
        <form class="form-inline row container" role="form" action=".php" method="POST">
            <div class="form-group row container ">
                <div>
                    <h4 class="form-group col-md-6">&iquest;Se encuentra bajo al&uacute;n tratamiento m&eacute;dico actualmente?</h4>
                    <select name="preg1_secb" class="form-control c-select col-md-3" onChange="opcionOnChange(this)">
                        <option selected>--</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <!--campo oculto-->
                <div id="opcion1"  style="display:none;">
                    <h4 class="form-inline col-md-2">&iquest;Relacionado con qu&eacute;?</h4>
                    <input name="porque" class="form-control c-select col-md-2">
                </div>
            </div>
            <br><br>
            <div class="form-group row container ">
                <div>
                    <h4 class="form-group col-md-6">&iquest;Padece actualmente alguna enfermedad?</h4>
                    <select name="preg2_secb" class="form-control c-select col-md-3" onChange="opcion2OnChange(this)">
                        <option selected>--</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <!--campo oculto-->
                <div id="opcion3"  style="display:none;">
                    <h4 class="form-inline col-md-2">&iquest;Cu&aacute;l?</h4>
                    <input name="porque" class="form-control c-select col-md-2">
                </div>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Ha estado hospitalizado alguna vez?</h4>
                <select name="preg3_secb" class="form-control c-select col-md-5">
                    <option selected>--</option>
                    <option value="Si" >Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Ha tenido alguna intervenci&oacute;n quir&uacute;rgica en el &uacute;ltimo a&ntilde;o?</h4>
                <select name="preg4_secb" class="form-control c-select col-md-5">
                    <option selected>--</option>
                    <option value="Si" >Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Toma alg&uacute;n medicamento o droga como antibi&oacute;tico sulfas ticoagulante,
                    insulina, tranquilizante o analg&eacute;sicos?</h4>
                <select name="preg5_secb" class="form-control c-select col-md-3" onChange="opcion3OnChange(this)">
                    <option selected>--</option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                <!--campo oculto-->
                <div id="opcion5"  style="display:none;">
                    <h4 class="form-inline col-md-2">&iquest;Cu&aacute;l?</h4>
                    <input name="porque" class="form-control c-select col-md-2">
                </div>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Ha recibido trasfusiones sangu&iacute;neas?</h4>
                <select name="preg6_secb" class="form-control c-select col-md-5">
                    <option selected>--</option>
                    <option value="Si" >Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Presenta alg&uacute;n tipo de alergia?</h4>
                <select name="preg7_secb" class="form-control c-select col-md-3" onChange="opcion4OnChange(this)">
                    <option selected>--</option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                <!--campo oculto-->
                <div id="opcion7"  style="display:none;">
                    <h4 class="form-inline col-md-2">&iquest;A qu&eacute;?</h4>
                    <input name="porque" class="form-control c-select col-md-2">
                </div>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Se ha desmayado alguna vez?</h4>
                <select name="preg8_secb" class="form-control c-select col-md-5">
                    <option selected>--</option>
                    <option value="Si" >Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Tiene sensaci&oacute;n de sed o hambre con mucha frecuencia?</h4>
                <select name="preg9_secb" class="form-control c-select col-md-5">
                    <option selected>--</option>
                    <option value="Si" >Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Le ha faltado la respiraci&oacute;n cuando se esfuerza?</h4>
                <select name="preg10_secb" class="form-control c-select col-md-5">
                    <option selected>--</option>
                    <option value="Si" >Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <br><br>
            <div class="form-group row container">
                <h4 class="form-group col-md-6">&iquest;Est&aacute; usted embarazada?</h4>
                <select name="preg11_secb" class="form-control c-select col-md-3" onChange="opcion5OnChange(this)">
                    <option selected>--</option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                <!--campo oculto-->
                <div id="opcion9"  style="display:none;">
                    <h4 class="form-inline col-md-2">&iquest;Cu&aacute;ntos meses tiene?</h4>
                    <input name="motivo" class="form-control c-select col-md-2">
                </div>
            </div>
        </form>
    </div>

    <br><br><br><br><br>

    <div id="seccioncC"  class="container">

        <legend><h2>Antecedentes familiares hereditarios</h2></legend>
        <center>
            <br><br><br>
            <form class="form-inline row container" role="form" action="" method="POST">

                <h4 class="form-inline col-md-3" for="ante_madre">Madre</h4>
                <input type="text" id="ante_madre" name="nombre" size="80" class="form-control c-select">
                <br><br>

                <h4 class="form-inline col-md-3" for="ante_padre">Padre</h4>
                <input type="text" id="ante_padre" name="nombre" size="80" class="form-control c-select">
                <br><br>

                <h4 class="form-inline col-md-3" for="ante_herma">Hermanos</h4>
                <input type="text" id="ante_herma" name="nombre" size="80" class="form-control c-select">
                <br><br>

                <h4 class="form-inline col-md-3" for="hijos">Hijos</h4>
                <input type="text" id="hijos" name="nombre" size="80" class="form-control c-select">

            </form>
        </center>

        <br><br><br><br><br>

        <legend><h2>Antecedentes personales patol&oacute;gicos</h2></legend>
        <br><br><br>
        <form class="form-inline row container" role="form" action=".php" method="POST">
            <div id="seccionC2"  class="container">

                <div class="form-group row container">
                    <h4 class="form-group col-md-1" ></h4>
                    <h4 class="form-group col-md-2" >ALT sanguineas</h4>
                    <select name="preg1_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Anemia</h4>
                    <select name="preg2_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Artritis</h4>
                    <select name="preg3_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group row container">
                    <h4 class="form-group col-md-1" ></h4>
                    <h4 class="form-group col-md-2" >Depreciones</h4>
                    <select name="preg4_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Cancer</h4>
                    <select name="preg5_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Asma</h4>
                    <select name="preg6_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group row container">
                    <h4 class="form-group col-md-1" ></h4>
                    <h4 class="form-group col-md-2" >Epilepcia</h4>
                    <select name="preg7_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Diabetes</h4>
                    <select name="preg8_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Gastritis</h4>
                    <select name="preg9_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group row container">
                    <h4 class="form-group col-md-1" ></h4>
                    <h4 class="form-group col-md-2" >Hipotensi&oacute;n</h4>
                    <select name="preg10_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Hepatitis</h4>
                    <select name="preg11_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Traumatismos</h4>
                    <select name="preg12_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group row container">
                    <h4 class="form-group col-md-1" ></h4>
                    <h4 class="form-group col-md-2" >Fiebre reum&aacute;tica</h4>
                    <select name="preg13_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Tuberculosis</h4>
                    <select name="preg14_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >ETS</h4>
                    <select name="preg15_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group row container">
                    <h4 class="form-group col-md-1" ></h4>
                    <h4 class="form-group col-md-2" >Sarampion</h4>
                    <select name="preg16_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Rubiola</h4>
                    <select name="preg17_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Varisela</h4>
                    <select name="preg18_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group row container">
                    <h4 class="form-group col-md-1" ></h4>
                    <h4 class="form-group col-md-2" >Enfermedad endocrina</h4>
                    <select name="preg19_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2" ></h4>
                    <h4 class="form-group col-md-1" >Escarlatina</h4>
                    <select name="preg20_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                    <h4 class="form-group col-md-2"></h4>
                    <h4 class="form-group col-md-1">Parotiditis</h4>
                    <select name="preg21_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group row container">
                    <h4 class="form-group col-md-1"></h4>
                    <h4 class="form-group col-md-2">Enfermedad cardiobascular</h4>
                    <select name="preg22_secC2" class="form-control c-select col-md-1">
                        <option selected>--</option>
                        <option value="Si" >Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <br> <br> <br><br>
                <div class="form-group row container ">
                    <div>
                        <h4 class="form-group col-md-1"></h4>
                        <h4 class="form-group col-md-4">&iquest;Es alergico al apecilina, sulfas u otras sustancias?</h4>
                        <select name="preg23_seC2" class="form-control c-select col-md-3" onChange="opcion6OnChange(this)">
                            <option selected>--</option>
                            <option value="si">Si</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <!--campo oculto-->
                    <div id="opcion11"  style="display:none;">
                        <h4 class="form-inline col-md-1"></h4>
                        <h4 class="form-inline col-md-1">&iquest;Cu&aacute;l?</h4>
                        <input name="porque" class="form-control c-select col-md-2">
                    </div>
                </div>
                <br><br>
            </div>
        </form>
    </div>

    <br><br><br><br><br>

    <div id="seccioncD"  class="container">

        <legend><h2>Registro cl&iacute;nico odontol&oacute;gico</h2></legend>
        <br><br><br>

        <form class="form-inline row container" role="form" action=".php" method="POST">

            <div class="form-group row container ">
                <div>
                    <h4 class="form-group col-md-1"></h4>
                    <h4 class="form-group col-md-5">Enfermedad periodontal</h4>
                    <select name="preg24_secC2" class="form-control c-select col-md-3">
                        <option selected>--</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group row container ">
                <div>
                    <h4 class="form-group col-md-1"></h4>
                    <h4 class="form-group col-md-5">&iquest;Presenta alguna infecci&oacute;n en cavidad oral?</h4>
                    <select name="preg24_secC2" class="form-control c-select col-md-3">
                        <option selected>--</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>

            <div class="form-group row container ">
                <div>
                    <h4 class="form-group col-md-1"></h4>
                    <h4 class="form-group col-md-5">H&aacute;bitos</h4>
                    <select name="preg24_secC2" class="form-control c-select col-md-2" onChange="opcion7OnChange(this)">
                        <option selected>--</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <!--campo oculto-->
                <div id="opcion13"  style="display:none;">
                    <h4 class="form-inline col-md-1"></h4>
                    <h4 class="form-inline col-md-1">&iquest;Cu&aacute;les?</h4>
                    <input name="porque" class="form-control c-select col-md-2">
                </div>
            </div>
        </form>
        <br><br><br>
        <legend><h2>Estado general de los tejidos</h2></legend>
        <br><br>
        <form class="form form-inline row container" role="form" action=".php" method="POST">
            <div class="form-group container">
                <label class="form-inline container-fluid">Labios</label>
                <input type="text" name="labios" size="60" class="form-control c-select">
                <label class="form-inline container-fluid">Paladar duro</label>
                <input type="text" name="paladard" size="51" class="form-control c-select">
                <br><br>
            </div>
            <div class="form form-group container">
                <label class="form-inline container-fluid">Lengua</label>
                <input type="text"  name="lengua" size="60" class="form-control c-select">
                <label class="form-inline container-fluid">Carrillos</label>
                <input type="text" name="carrillos" size="54" class="form-control c-select">
                <br><br>
            </div>
            <div class="form form-group container">
                <label class="form-inline container-fluid">Comisuras labiales</label>
                <input type="text"  name="comisuras" size="50" class="form-control c-select">
                <label class="form-inline container-fluid">Piso de boca</label>
                <input type="text" name="piso" size="50" class="form-control c-select">
                <br><br>
            </div>
            <div class="form form-group container">
                <label class="form-inline container-fluid">Paladar blando</label>
                <input type="text"  name="paladarb" size="47" class="form-control c-select">
                <label class="form-inline container-fluid">Gl&aacute;ndulas salivales</label>
                <input type="text" name="glandulas" size="50" class="form-control c-select">
                <br><br>
            </div>
            <div class="form form-group container">
                <label class="form-inline container-fluid">Hallazgos rediogr&aacute;ficos</label>
                <input type="text"  name="hallazzgos" size="119" class="form-control c-select">
                <br><br>
            </div>
        </form>
    </div>
    <br><br><br>
    <div id="dentadura">
        <center>
            <div class="content inline">
                <div id="demo1" class="collapse">
                    <div class="form-group row">
                        <input id="18" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo2" class="collapse">
                    <div class="form-group row">
                        <input id="17" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>

                <div id="demo3" class="collapse">
                    <div class="form-group row">
                        <input id="16" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo4" class="collapse">
                    <div class="form-group row">
                        <input id="15" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo5" class="collapse">
                    <div class="form-group row">
                        <input id="14" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo6" class="collapse">
                    <div class="form-group row">
                        <input id="13" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo7" class="collapse">
                    <div class="form-group row">
                        <input id="12" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo8" class="collapse">
                    <div class="form-group row">
                        <input id="11" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo9" class="collapse">
                    <div class="form-group row">
                        <input id="21" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo10" class="collapse">
                    <div class="form-group row">
                        <input id="22" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo11" class="collapse">
                    <div class="form-group row">
                        <input id="23" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo12" class="collapse">
                    <div class="form-group row">
                        <input id="24" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo13" class="collapse">
                    <div class="form-group row">
                        <input id="25" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo14" class="collapse">
                    <div class="form-group row">
                        <input id="26" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo15" class="collapse">
                    <div class="form-group row">
                        <input id="27" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo16" class="collapse">
                    <div class="form-group row">
                        <input id="28" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>

                <div id="demo17" class="collapse">
                    <div class="form-group row">
                        <input id="55" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo18" class="collapse">
                    <div class="form-group row">
                        <input id="54" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo19" class="collapse">
                    <div class="form-group row">
                        <input id="53" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo20" class="collapse">
                    <div class="form-group row">
                        <input id="52" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo21" class="collapse">
                    <div class="form-group row">
                        <input id="51" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo22" class="collapse">
                    <div class="form-group row">
                        <input id="61" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo23" class="collapse">
                    <div class="form-group row">
                        <input id="62" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo24" class="collapse">
                    <div class="form-group row">
                        <input id="63" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo25" class="collapse">
                    <div class="form-group row">
                        <input id="64" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo26" class="collapse">
                    <div class="form-group row">
                        <input id="65" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>

                <div id="demo27" class="collapse">
                    <div class="form-group row">
                        <input id="85" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo28" class="collapse">
                    <div class="form-group row">
                        <input id="84" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo29" class="collapse">
                    <div class="form-group row">
                        <input id="83" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo30" class="collapse">
                    <div class="form-group row">
                        <input id="82" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo31" class="collapse">
                    <div class="form-group row">
                        <input id="81" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>

                <div id="demo32" class="collapse">
                    <div class="form-group row">
                        <input id="48" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo33" class="collapse">
                    <div class="form-group row">
                        <input id="47" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo34" class="collapse">
                    <div class="form-group row">
                        <input id="46" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo35" class="collapse">
                    <div class="form-group row">
                        <input id="45" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo36" class="collapse">
                    <div class="form-group row">
                        <input id="44" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo37" class="collapse">
                    <div class="form-group row">
                        <input id="43" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo38" class="collapse">
                    <div class="form-group row">
                        <input id="42" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo39" class="collapse">
                    <div class="form-group row">
                        <input id="41" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>

                <div id="demo40" class="collapse">
                    <div class="form-group row">
                        <input id="31" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo41" class="collapse">
                    <div class="form-group row">
                        <input id="32" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo51" class="collapse">
                    <div class="form-group row">
                        <input id="33" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo52" class="collapse">
                    <div class="form-group row">
                        <input id="34" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo53" class="collapse">
                    <div class="form-group row">
                        <input id="35" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo54" class="collapse">
                    <div class="form-group row">
                        <input id="36" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo55" class="collapse">
                    <div class="form-group row">
                        <input id="37" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>
                <div id="demo56" class="collapse">
                    <div class="form-group row">
                        <input id="38" type="text" class="content c-select form-signin" placeholder="Diagn&oacute;stico">
                    </div>
                    <br>
                </div>



                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_1" data-toggle="collapse" data-target="#demo1">18
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_2" data-toggle="collapse" data-target="#demo2">17
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_3" data-toggle="collapse" data-target="#demo3">16
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_4" data-toggle="collapse" data-target="#demo4">15
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_5" data-toggle="collapse" data-target="#demo5">14
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_6" data-toggle="collapse" data-target="#demo6">13
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_7" data-toggle="collapse" data-target="#demo7">12
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_8" data-toggle="collapse" data-target="#demo8">11_

                _21<input type=image src="img/landing/Diente.png" width="40" height="40"id="enlace_9" data-toggle="collapse" data-target="#demo9">
                22<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_10" data-toggle="collapse" data-target="#demo10">
                23<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_11" data-toggle="collapse" data-target="#demo11">
                24<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_12" data-toggle="collapse" data-target="#demo12">
                25<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_13" data-toggle="collapse" data-target="#demo13">
                26<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_14" data-toggle="collapse" data-target="#demo14">
                27<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_15" data-toggle="collapse" data-target="#demo15">
                28<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_16" data-toggle="collapse" data-target="#demo16">
            </div>
            <br>
            <div class="content inline">
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_17" data-toggle="collapse" data-target="#demo17">55
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_18" data-toggle="collapse" data-target="#demo18">54
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_19" data-toggle="collapse" data-target="#demo19">53
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_20" data-toggle="collapse" data-target="#demo20">52
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_21" data-toggle="collapse" data-target="#demo21">51_

                _61<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_22" data-toggle="collapse" data-target="#demo22">
                62<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_23" data-toggle="collapse" data-target="#demo23">
                63<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_24" data-toggle="collapse" data-target="#demo24">
                64<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_25" data-toggle="collapse" data-target="#demo25">
                65<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_26" data-toggle="collapse" data-target="#demo26">
            </div>
            <br>
            <div class="content inline">
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_27" data-toggle="collapse" data-target="#demo27">85
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_28" data-toggle="collapse" data-target="#demo28">84
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_29" data-toggle="collapse" data-target="#demo29">83
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_30" data-toggle="collapse" data-target="#demo30">82
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_31" data-toggle="collapse" data-target="#demo31">81_

                _71<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_32" data-toggle="collapse" data-target="#demo32">
                72<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_33" data-toggle="collapse" data-target="#demo33">
                73<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_34" data-toggle="collapse" data-target="#demo34">
                74<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_35" data-toggle="collapse" data-target="#demo35">
                75<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_36" data-toggle="collapse" data-target="#demo36">
            </div>
            <br>
            <div class="content inline">
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_37" data-toggle="collapse" data-target="#demo37">48
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_38" data-toggle="collapse" data-target="#demo38">47
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_39" data-toggle="collapse" data-target="#demo39">46
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_40" data-toggle="collapse" data-target="#demo40">45
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_41" data-toggle="collapse" data-target="#demo41">44
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_42" data-toggle="collapse" data-target="#demo42">43
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_43" data-toggle="collapse" data-target="#demo43">42
                <input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_44" data-toggle="collapse" data-target="#demo44">41_

                _31<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_45" data-toggle="collapse" data-target="#demo45">
                32<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_46" data-toggle="collapse" data-target="#demo46">
                33<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_47" data-toggle="collapse" data-target="#demo47">
                34<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_48" data-toggle="collapse" data-target="#demo48">
                35<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_49" data-toggle="collapse" data-target="#demo49">
                36<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_50" data-toggle="collapse" data-target="#demo50">
                37<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_51" data-toggle="collapse" data-target="#demo51">
                38<input type=image src="img/landing/Diente.png" width="40" height="40" id="enlace_52" data-toggle="collapse" data-target="#demo52">
            </div>

            <br><br>

        </center>
    </div>

    <br><br>

</section>
<br><br><br><br>