<div class="container">
    <br><br>
    <section id="tratamientos">
        <legend><center><h5>Tratamientos GS</h5></center></legend>

        <div class="list-group container">
            <a href="#" class="list-group-item active">
                Datos del Paciente {{id_Paciente}}
            </a>
            <a class="list-group-item" id="puerta" data-toggle="collapse" data-target="#salida" >Datos Generales</a>
            <div class="collapse" id="salida">Imprimir datos de tabla datosPaciente</div>
            <a class="list-group-item" id="puerta2" data-toggle="collapse" data-target="#salida2">Informaci&oacute;n C&iacute;nica</a>
            <div class="collapse" id="salida2">Imprimir datos tabla datosHistClinico</div>
        </div>


    </section>
</div>

