<div class="container">
    <br><br>
    <section id="tratamientos">
        <legend><center><h5>Tratamientos GS</h5></center></legend>

        <div class="list-group container">
            <a href="#" class="list-group-item active">
                Datos del Paciente {{id_Paciente}}
            </a>
            <a class="list-group-item" id="puerta" data-toggle="collapse" data-target="#salida" >Datos Generales</a>
            <div class="collapse" id="salida">Imprimir datos de tabla datosPaciente</div>
            <a class="list-group-item" id="puerta2" data-toggle="collapse" data-target="#salida2">Informaci&oacute;n C&iacute;nica</a>
            <div class="collapse" id="salida2">Imprimir datos tabla datosHistClinico</div>
            <a class="list-group-item" id="puerta3" data-toggle="collapse" data-target="#salida3">Estado de los tegidos</a>
            <div class="collapse" id="salida3">Imprimir datos tabla estadoTegidos</div>
        </div>

        <br><br>

        <div class="row container ">

            <h2>Plan de tratamiento</h2><br>

            <div class="col-md-9 col-md-push-3 container">
                <div class="col-md-3"></div>
                <div class="col-md-8 container row">
                <!--    Hover Rows  -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tratamientos
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tratamiento</th>
                                            <th>Fase</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Ortodoncia</td>
                                            <td>Fijado de bracket</td>
                                            <td>$6,000.00</td>
                                            <td><button name="rm" class="fa fa-trash-o btn-danger" aria-hidden="true"> Eliminar</button></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Ortodoncia</td>
                                            <td>Cambio de resorte</td>
                                            <td>$2,000.00</td>
                                            <td><button name="rm" class="fa fa-trash-o btn-danger" aria-hidden="true"> Eliminar</button></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Ortodoncia</td>
                                            <td>Colocaci&oacute;n de cadena</td>
                                            <td>$2,500.00</td>
                                            <td><button name="rm" class="fa fa-trash-o btn-danger" aria-hidden="true"> Eliminar</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End  Hover Rows  -->


                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>TOTAL</th>
                                        <td></td>
                                        <td></td>
                                        <td>$10,500.00</td>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <th>DESCUENTO(S)</th>
                                        <td></td>
                                        <td>10%</td>
                                        <td>$1,050.00</td>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <th>TOTAL NETO</th>
                                        <td></td>
                                        <td></td>
                                        <td><strong>$9,450.00</strong></td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>





                </div>
                </div>


            <div class="col-md-3 col-md-pull-9 container" >

                <label for="tratamiento"  class=""></label>
                <select id="tratamiento" class="form-control c-select">
                    <option selected>tratamiento</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
                <br>
                <label for="proceso"></label>
                <select id="proceso" class="form-control c-select">
                    <option selected>Poceso</option>
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                <br><br>
                <div class="form-group input-group form-control-static">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                </div>
                <br><br>
                <button class="btn-info btn fa fa-plus-circle" aria-hidden="true" data-style="zoom-in center">  Agregar Nuevo Tratamiento</button>
            </div>
        </div>

        <br><br><br><center>
        <div class="col-md-2"></div>
        <button class="btn-success btn fa fa-floppy-o col-md-3" aria-hidden="true" data-style="zoom-in center">  Guardar Presupuesto</button>
        <div class="col-md-2"></div>
        <a href="#/index/registrarpagos" class="btn-success btn fa fa-money col-md-3" aria-hidden="true" data-style="zoom-in center">  Registrar Pago</a>
    </center><br><br><br>
    </section>
</div>
<br><br>



<article>
    <header>
        <h1>Output element sample</h1>
        <p>Demo showing output element in HTML5</p>
    </header>
    <form onsubmit="return false" oninput="    totalamount.value = Math.round(principal.value * (Math.pow((1 + interest.value / 100), period.value)) * 100) / 100;">
        Principal<input name="principal" id="principal" type="number">
        <br />
        Duration<input name="period" id="period" type="number">
        <br />
        Interest Rate<input name="interest" id="interest" type="number">
        <br />
        Total amount <output name="totalamount" id="totalamount" for="principal period interest"></output>
    </form>
    <footer>
        <h1></h1>
        <p>HTML Goodies</p>
    </footer>
</article>
<br><br><br><br><br><br>