<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="text-muted text-xs block">Bienvenido</span>
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                                </span>
                                <!--<span class="text-muted text-xs block">Example menu<b class="caret"></b></span>-->
                            </span>
                    </a>
                   <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>-->
                </div>
                <div class="logo-element">
                    <img src="../../styles/patterns/1.png" style="width:55px;height:50px;"/>
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-search"></i> <span class="nav-label">Buscar paciente</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-server"></i> <span class="nav-label">Nuevo Paciente</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-folder-open-o"></i> <span class="nav-label">Historial m&eacute;dico</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="landing"><i class="fa fa-folder-open-o"></i> <span class="nav-label">Historial de Pagos</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="landing"><i class="fa fa-money"></i> <span class="nav-label">Registrar pago</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="landing"><i class="fa fa-calendar"></i> <span class="nav-label">Agenda</span></a>
            </li>
        </ul>

    </div>
</nav>