<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="text-muted text-xs block">Bienvenido</span>
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    <img src="../../styles/patterns/1.png" style="width:55px;height:50px;"/>
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.search"><i class="fa fa-search"></i> <span class="nav-label">Buscar Paciente</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.nuevo"><i class="fa fa-server"></i> <span class="nav-label">Nuevo Paciente</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.historialclinico"><i class="fa fa-folder-open-o"></i> <span class="nav-label">Historial Cl&iacute;nico</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.historialpagos"><i class="fa fa-folder-open-o"></i> <span class="nav-label">Historial de Pagos</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.registrarpagos"><i class="fa fa-money"></i> <span class="nav-label">Registrar Pago</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.agenda"><i class="fa fa-calendar"></i> <span class="nav-label">Agenda</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.agenda"><i class="fa fa-users"></i> <span class="nav-label">Administrar Usuarios</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.agenda"><i class="fa fa-usd"></i> <span class="nav-label">Ajustar Precios</span></a>
            </li>
        </ul>

    </div>
</nav>